body {
  margin: 10px;
}
th {
  text-align: left;
  background: #cecece;
  padding: 5px;
}
td {
  padding: 5px;
}
h3 {
  margin: 0;
}
ul {
  margin: 0;
}
form textarea {
  width: 860px;
  height: 320px;
}

p.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: green;
  color: white;
}

p.alert.success {
  background: green;
}
p.alert.error {
  background: red;
}

canvas {
  margin: 20px 0 10px 0;
}
